// header

.header__hero {
  color: $fontColorLight;

  & .h1 {
    font-family: $fontFamilyTitles;
    font-size: bold;
    font-size: 42px;
    text-transform: uppercase;
  }

  & .slogan {
    font-family: $fontFamilyText;
    font-size: 16px;
    line-height: 21px;
  }
}

// sections

.section-title {
  color: $fontColorDark;
  font-family: $fontFamilyTitles;
  font-weight: bold;
  line-height: 30px;
  text-transform: capitalize;
}

.article-title {
  font-family: $fontFamilyTitles;
  font-size: 18px;
  line-height: 30px;
}

.small-title {
  color: $fontColorLightMidtone;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
.section01,
.section02 {
  font-family: $fontFamilyText;
  font-size: 18px;
  line-height: 30px;
}

.section01 {
  color: $fontColorDarkMidtone;
}

.section01__button,
.section02__button {
  font-family: $fontFamilyText;
  font-weight: 500;
  font-size: 20px;
}

.section01__button {
  color: $colorPrimaryButton;
}

.section02__button {
  color: $colorSecondaryButton;
}

// footer

.footer__elements {
  color: $fontColorLight;
  font-family: $fontFamilyText;
  text-align: center;
}

.list-sections,
.list-socialmedia {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}
