// header

.header__hero {
  color: $fontColorLight;

  & .h1 {
    font-family: $fontFamilyTitles;
    font-size: bold;
    font-size: 42px;
    text-transform: uppercase;
  }

  & .slogan {
    font-family: $fontFamilyText;
    font-size: 16px;
    line-height: 21px;
  }
}

// sections

.section01__button,
.section02__button {
  font-family: $fontFamilyText;
  font-weight: 500;
  font-size: 20px;
}

// footer

.footer__elements {
  color: $fontColorLight;
  font-family: $fontFamilyText;
  text-align: center;
}

.list-sections,
.list-socialmedia {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}
