<footer class="footer">
  <a href="#header" title="Ir a la cabecera de la página"
    ><img
      src="./assets/images/ico-arrow.png"
      alt="Ir a la cabecera de la página"
  /></a>
  <div class="footer__elements">
    <nav>
      <ul class="list-sections">
        <li>
          <a href="https://adalab.es/" title="Ir a Articles">Articles</a>
        </li>
        <li><a href="https://adalab.es/" title="Ir a Books">Books</a></li>
        <li><a href="https://adalab.es/" title="Ir a Events">Events</a></li>
        <li><a href="https://adalab.es/" title="Ir a Reasons">Reasons</a></li>
        <li><a href="https://adalab.es/" title="Ir a Tips">Tips</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="list-socialmedia">
        <li>
          <a href="https://adalab.es/" title="Ir a Twitter" target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Instagram" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Mastodon" target="_blank"
            >Mastodon social</a
          >
        </li>
      </ul>
    </nav>
    <small class="copy">
      &copy;2017 <br />
      we <span class="heart-icon">&#10084;</span> components
    </small>
  </div>
</footer>
