.footer {
  background-color: $colorFooter;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0 45px 0;

  & img {
    width: 45px;
    height: 45px;
    padding: 11px 12px 10px 12.4px;
    background-color: $colorSecondaryButton;
    border-radius: 22.5px;
    box-shadow: 0 2px 4px 0 black;
    transform: translate(0px, -22.5px);
  }

  &__elements {
    display: flex;
    flex-direction: column;

    & .list-sections,
    & .list-socialmedia {
      list-style: none;
      margin: 15px 0 15px 0;
    }

    & .copy {
      margin-top: 15px;
    }
  }
}

.heart-icon {
  color: $fontColorMidtone;
}
